body {
    background-color: #FFA07A;
}

div {
    text-align: center;
}

div{
	text-align: center;
}

div{
	text-align: center;
}

div{
	text-align: center;
}
div.a {
	position: fixed;
	top: 250px;
}
